html,
body {
  margin: 0; 
}


html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; 
}

body {  
  overflow-x: hidden; 
  overflow-y: scroll; 
}

html.touch * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

/* ----------- Global styles ----------- */

input {
  font-family: sans-serif; 
  box-sizing: border-box;
  font-size: 18px;
  padding: 16px 18px 16px 18px;  
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  font-weight: 200;
  border-radius: 6px;
  border: 1px solid #bbb;
  border-top-color: rgba(0,0,0,0.8);  
  border-left-color: rgba(0,0,0,0.8); 
  border-right-color: rgba(128, 128, 128, 0.9);  
  border-bottom-color: rgba(128, 128, 128, 0.9); 
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6)
}

a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  cursor: pointer;
} 

a.button {
  font-family: sans-serif; 
  box-sizing: border-box;
  font-size: 18px;
  padding: 17px 18px 18px 18px;  
  margin: 0 0 10px 0;
  font-weight: 200;
  border-radius: 6px;
  background-color: rgba(50, 95, 162, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  border-bottom: none;
} 

input:focus {
    outline: 0;
}   

em {
  font-style: normal;  
}




/* ----------- Deck & Cards ----------- */

#deck {
  position: absolute;
  width: 100%;
  height: 100%;
}

#deck .card {
  background-color: #fcfcfc;   
  border-radius: 5px;
  box-sizing: border-box;
  padding: 35px 45px; 
  border: 1px solid rgba(0,0,0,0.2); 
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;  
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  border-bottom-color: rgba(0,0,0,0.25);
  border-right-color: rgba(0,0,0,0.35);  
  border-top-color: rgba(255,255,255,0.1);
  border-left-color: rgba(255,255,255,0.15)  
}

#deck .card.cover {
  /* We add this class so that no other card flashes briefly before the javascript can properly sort the cards */
  z-index: 1000;
}

#deck .card.stacked { 
  position: fixed; 
}